div.poll { position:fixed; bottom: 0; left: 0; margin: 0; padding: 1% 0 1% 0%; width: 100%; background-color: #55cc55; color: #335533; z-index: 90; text-align: center;}
	div.poll span.poll_close { font-size: 0.8em; font-weight: bold; display: block; position: absolute; top: 10px; right: 50px; cursor: pointer; }
	div.poll span.poll_title { font-size: 1.2em; font-weight: bold; color: #113311; }
	div.poll span.poll_content { font-weight: bold; font-size: 1.1em;}
	div.poll form { margin: 20px 0 0 0; }
		div.poll form input[type=radio] { display: none; }
		div.poll form label { padding: 5px 10px 5px 10px; margin: 0 -2px 0 -3px; background-color: #449944; color: #aaddaa; border: solid 1px #88CC88; cursor: pointer; }
		div.poll form input[type=radio]:checked + label { background-color: #224422; color: #fff; border: solid 1px #ddffdd; }
		
		div.poll form input.poll_submit_button { margin: 1% 0 0 0%; padding: 5px 10px 5px 10px; background-color: #224422; color: #fff; border: solid 1px #ddffdd; font-weight: bold; cursor: pointer; }
