
form.dashboard_connectionForm { width: 330px; margin: 0 auto; background-color: #e0e0e0; padding: 2%; }
    form.dashboard_connectionForm label { color: #666; display: block; font-size: 15px; font-weight: bold; margin-top: 4%; margin-bottom: 2%; }
    form.dashboard_connectionForm input { color: #333; font-size: 18px; margin: 0; padding: 3%; border: solid 1px #ccc; }
    form.dashboard_connectionForm input#dashboard_connectionSubmit { width: 100%; margin-top: 6%; text-align: center; background-color: #71c837; color: white; }

div.dashboard_atcSession { background-color: #e5e5e5; margin: 1% 7%; padding: 2%; color: #333; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
    div.dashboard_atcSession span.event_location { font-size: 1.2em; font-weight: bold; color: #424D15; }
    div.dashboard_atcSession div.event_specialEvents { padding: 2%;}
        div.dashboard_atcSession div.event_specialEvents h3 { color: #333; margin: 2% 0;}
        div.dashboard_atcSession div.event_specialEvents div.event_specialEvent { margin: 4% 0;}
            div.event_specialEvent h4 { color: #666; margin: 2% 0;}
            div.event_specialEvent form input { font-size: 0.9em; background-color: #4c4; padding: 7px 15px; color: #fff; font-weight: bold; border: 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
            div.event_specialEvent form input.remove { background-color: #c44; }

li.dashboard_flightplan {
    font-size: 0.9em;
    color: #666;
    letter-spacing: 1px;
    padding: 1% 0 1% 3%;
    font-weight: bold;
}

div.dashboard-oneClick {  }
    div.dashboard-oneClick > div { margin-bottom: 20px;}
    span.oneClick-time { font-size: 0.9em;}