
div.dashboard_atcSession { background-color: #ccc; margin: 1% 0%; padding: 2%; color: #333; }

div.dashboard_atcSession span.event_location { font-size: 1.2em; font-weight: bold; color: #6DC235; }

li.dashboard_flightplan {
    font-size: 0.9em;
    color: #666;
    letter-spacing: 1px;
    padding: 1% 0 1% 3%;
    font-weight: bold;
}
