
/* JUMBOTRON */
div#jumbotron_mainPage { position: relative; background-size: cover; width: 100%; height: 100%; overflow: hidden; padding: 0; }
    div#bg-overlay { width: 100%; height: 100%; background: rgba(0,0,0,0.5); padding: 3%; color: #fff;}
    div#bg-overlay ul { color: #333; }

/* DEPECHE */
div.depeche { position: relative; height: 100px; top:-145px; width: 700px; padding:0; margin-bottom: -145px; text-shadow: 0px 0px 6px #000; }
    h2#depecheMainTitle { font-family: Arvo; font-weight: bold; }
    p#depecheContent { font-size: 1.2em; }
            
/* SPECIAL EVENT */
div.specialEvent { width: 90%; margin: auto; padding: 5px; background-color: #e0f0e0; color: #666; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
    div.specialEvent img.specialEventImg { float: left; position: relative; margin-left: 20px; top: -5px; }
    div.specialEvent div.specialEventContent { margin-left: 110px;}
        div.specialEvent div.specialEventContent h1 { color: #aaa; font-size: 1.0em; text-transform: uppercase; }
        div.specialEvent div.specialEventContent h4 { margin: 15px 0; }
        div.specialEvent form { margin: 10px 0; }
        div.specialEvent label { font-size: 0.9em; color: #333; background-color: #4c4; padding: 7px 15px; margin-right: 5px; vertical-align: middle; color: #fff; font-weight: bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
        div.specialEvent input.specialEventButton { position: relative; top: 2px; background: #fff; margin: 0 7px 0 0;}
        div.specialEvent label.buttonNo { background: #666; }
        div.specialEvent input.participationCallsign { display: none; color: #3C71B2; border: solid 2px; background-color: #fff; background: #fff url('../img/scheme_pilot.png') no-repeat 3px 6px; margin: 20px 0 10px 0; padding: 7px 7px 7px 30px; font-size: 1.3em; font-weight: bold; }
        div.specialEvent form input.buttonValidate { background-color: #3C71B2; font-weight: bold; padding: 5px; margin: 0; font-weight: bold; color: #fff; padding: 7px 30px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
        div.specialEventDate { float: left; width: 100px; }
        div.specialEventAirport { float: left; width: 75px; }
        div.specialEventTime { float: left; }
div.specialEvent.mini { padding: 5px 7px; background-color: #e0e0e0; }
    div.specialEvent.mini div.specialEventContent { margin-left: 0; }
        div.specialEvent.mini div.specialEventContent img { margin-right: 10px; }
        div.specialEvent.mini h4 { min-width: 350px; color: #333; margin: 0 0 10px 0; }


div.well-calendar { color: #337ab7; }
    div.well-calendar h4 { font-weight: bold; }
/* LIST ON THE MAIN PAGE */
div.list-clickable { cursor: pointer; }
    div.list-clickable span.flightplan-bullet-counter { color: #5cb85c; }
div.dayContent { background-color: #d9edf7; }
        
/* EVENT CREATION DIV WITH BUTTON INSIDE THE LIST */
div.createEvent { margin: 0; padding: 10px; }

/* FLIGHTPLAN CREATION DIV WITH BUTTON INSIDE THE LIST */
div.createFlightplan { margin: 0; padding: 10px; }
        
/* EVENT DIV INSIDE THE LIST */
div.event { margin-top: 0; margin-bottom: 0; margin-left: 0; padding: 13px; }
    div.event span.event-location { margin-left: 10px; font-size: 0.9em; color: #337ab7; font-weight: bold;}
    div.event span.event-times { font-size: 0.9em; color: #333; font-weight: bold; }
    div.event span.event-communication { font-size: 0.9em; color: #666; }
    div.event span.event-documentation { font-size: 0.9em; }
    div.event span.event-atc { font-size: 0.8em; font-weight: bold; color: #666; }
    div.event p.event-comments { font-size: 0.8em; color: #999; margin-top: 5px; background-color: #ddd; padding: 5px; }
    
/* FLIGHTPLAN DIV INSIDE THE LIST */
div.flightplan { margin-top: 0; margin-bottom: 0; margin-left: 0; padding: 13px 0; }
    span.flightplan-category { color: #999; font-weight: bold; font-size: 0.9em;}
    span.flightplan-plane { color: #666; font-weight: bold; font-size: 0.9em;}
    span.flightplan-info { color: #999; font-size: 0.8em; text-transform: uppercase; }
    span.flightplan-time { color: #333; font-size: 0.9em; }