
div#ui-datepicker-div { z-index: 780 !important; background-color: #ccc; padding: 0.5%; }
div.submenu form.submenu_quick_atc img.ui-datepicker-trigger { position: relative; top: 5px; margin-left: 3px; height: 20px; cursor: pointer; }
div.submenu form.submenu_quick_atc input { border: 0; background-color: #efefef; font-size: 0.8em; color: #777; margin: 0; padding: 5px; cursor: pointer; }
div.submenu form.submenu_quick_atc input:hover { border: 0; cursor: default;}
div.submenu input#submenu_dateTimePicker_submit { background-color: #89a02c; color: #fff; cursor: pointer;}
	div.submenu input#submenu_dateTimePicker_submit:hover { color: #424D15; }

div.flightplan_banner { width: 600px; margin: 4% auto 4% auto;}
        
div.flightplan_list_area { width: 100%; margin: 0 10px 0 10px; }
    div.flightplan_day { float: left; width: 170px; margin: 0 3px 0 3px; }
        div.flightplan_day span.flightplan_date { display: block; color: #666; font-size: 0.9em; text-align: center; }
        div.flightplan_day div.flightplan_add_button { text-align: center; width: 70%; margin: 5px 15% 10px 15%; font-size: 0.7em; color: #fff; padding: 0px; background-color: #3C71B2; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; cursor: pointer; }
            div.flightplan_day div.flightplan_add_button:hover { background-color: white; color: #3C71B2; }
        div.flightplan_list_area div.flightplan { background-color: #ececec; border: solid 1px #ccc; margin: 3px 0; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
            div.flightplan_list_area div.flightplan.empty { color: #999; font-size: 0.9em; padding: 5px; text-align: center; border: solid 1px #ddd; background-color: #f0f0f0;}
            div.flightplan_list_area div.flightplan.flightplanHidden { display: none; }
            div.flightplan_list_area div.flightplan.showall { font-weight: bold; color: #3C71B2; cursor: pointer; }
            div.flightplan_list_area div.flightplan table { width: 94%; margin: 3%; font-size: 0.8em; line-height: 140%; }
            div.flightplan_list_area div.flightplan table td.align-left { text-align: left; }
            div.flightplan_list_area div.flightplan table td.align-right { text-align: right; }
            td span.callsign { font-weight: bold; font-size: 1.2em; color: #333; }
            td span.airport { font-family: Courier, "Courier New", monospace; font-weight: bold; font-size: 1.2em; color: #3C71B2; text-transform: uppercase; }
            td span.aircraft { color: #999999; }
            td span.time { font-family: Courier, "Courier New", monospace; background-color: #aaa; color: #fff; font-size: 1.0em; padding: 3px 9px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
            td span.status { font-size: 0.9em; text-transform: capitalize; }
                span.status.filled { color: #666; }
                span.status.open { color: #89a02c; }
                span.status.close { color: #666; }
                span.status.abort { color: #ff2a2a; }
            td input.action { font-size: 1.0em; padding: 2px 6px; margin: 0;}

                
form.file_flightplan { clear: both; display: none; position: fixed; top: 6px; left: 10px; width: 310px; overflow-y: scroll; max-height: 600px; }
    form.file_flightplan img { display: inline; position: relative; top: 10px; }
    form.file_flightplan label { display: inline-block; width: 40%; margin-top: 10px; color: #666; font-size: 1.0em; font-weight: bold; }
        form.file_flightplan label.error { width: 100%; font-size: 0.9em; color: red; margin: 3px 0 5px 0; }
    form.file_flightplan input { font-size: 1.3em; padding: 7px; border: solid 1px #aaa; width: 40%; }
    form.file_flightplan input.callsign { color: #3C71B2; border: solid 2px; background-color: #fff; background: #fff url('../img/scheme_pilot.png') no-repeat 3px 6px; padding: 7px 7px 7px 30px; }
    form.file_flightplan input.email { color: #666; border: solid 2px #aaa; background-color: #fff; width: auto; }
    form.file_flightplan input.date { color: #666; background: #fff url('../img/scheme_date.png') no-repeat 3px 6px; padding: 7px 7px 7px 30px;}
    form.file_flightplan input.airport { font-family: Courier, "Courier New", monospace; font-size: 1.3em; width: auto; padding: 7px 7px 7px 30px; color: #3C71B2; border: solid 1px #ccc; background: #fff url('../img/scheme_airport.png') no-repeat 3px 6px; }
    form.file_flightplan input.time { font-family: Courier, "Courier New", monospace; font-size: 1.1em; padding: 7px; width: auto; background-color: #666; color: #fff; border: solid 1px #ccc; }
    form.file_flightplan input.altitude { font-size: 1.3em; padding: 7px 7px 7px 30px; color: #3C71B2; border: solid 1px #ccc; background: #fff url('../img/scheme_flightLevel.png') no-repeat 3px 6px; }
    form.file_flightplan input.airline { background: #fff url('../img/scheme_flight.png') no-repeat 3px 6px; padding: 7px 7px 7px 30px; }
    form.file_flightplan input.aircraft { background: #fff url('../img/scheme_plane.png') no-repeat 3px 6px; padding: 7px 7px 7px 30px; }
    form.file_flightplan input.souls { background: #fff url('../img/scheme_people.png') no-repeat 3px 6px; padding: 7px 7px 7px 30px; }
    form.file_flightplan input.fuel { background: #fff url('../img/scheme_fuel.png') no-repeat 3px 6px; padding: 7px 7px 7px 30px; }
    form.file_flightplan input.key { color: #666; border: solid 2px #aaa; width: auto; }
    form.file_flightplan input[type="button"] { background-color: #89a02c; font-size: 0.9em; font-weight: bold; width: auto; border: 0; color: #fff; margin: 10px 0 0 0; }
    form.file_flightplan input.create_flightplan_button { background-color: #3C71B2; color: #fff; width: 290px; font-size: 1.2em; font-weight: bold; padding: 5% 0; margin: 4% auto;}
    form.file_flightplan input.errors { color: #fff !important; background-color: red !important; }
    
    form.file_flightplan .category { background-color: #e6e6e6; padding: 5px 20px 10px 20px; margin: 4px 4px 4px 4px; box-shadow: 0px 0px 3px #333; }
        .category span.title { display: block; color: #3C71B2; font-weight: bold; font-size: 1.0em; margin: 15px 0 10px 0px; padding: 5px 10px; }
            .category span.title.errors { color: #fff; background-color: red; }
            .category span.title.errors:hover {}
                .category span.title img { position: relative; top: -3px; left: 0; }
        .category span.subtitle { display: block; color: #333; font-weight: bold; font-size: 1.0em; margin: 15px 0 10px 0px; padding: 5px;}
        .category div.optional_info { display: none; width: 500px; margin: 0 0 10px 10px;}
    form.file_flightplan table.grouped_categories { display: none; width: 100%; }
        table.grouped_categories td { vertical-align: top; }


/* Test calendar disposition */
div.calendar { background-color: #eee; margin-top: 3%; }
/* Header with month and days in week */
div.calendar_header { margin: 10px 0 0px 0px; width: 900px; padding: 5px 0px 0px 0px; background-color: #ddd; }
	div.calendar_month { width: 852px; margin: 2px 0 0px 0; color: #333; font-weight: bold; text-align: center; text-transform: uppercase; }
	span.calendar_dayInWeek { display: inline-block; width: 104px; margin: 0px 9px 0px 9px; color: #999; font-size: 0.8em; text-align: center; font-weight: bold;}

/* Display a day */
div.calendar_day_empty { position: relative; top: 0; display: inline-block; width: 104px; padding: 2px; margin: 10px 7px 10px 7px; background-color: #eee; }
div.calendar_day { position: relative; top: 0; display: inline-block; width: 104px; padding: 2px; margin: 10px 7px 10px 7px; background-color: #ccc; border-bottom: solid 2px #aaa; border-radius: 3px; -moz-border-radius: 3px;}
	span.calendar_dayNumber { display: inline-block; font-size: 0.9em; width: 30px; font-weight: bold; color: #000; padding: 2px 0 2px 10px; }
	
	/* Button new session inside the day */
	a.calendar_button_new_session { display: inline; font-size: 0.9em; color: #FF6060; font-weight: bold; padding: 2px 5px 2px 5px; -moz-border-radius: 2px; border-radius: 2px; } 
	a.calendar_button_new_session:hover { background-color: #ff4444; color: #fff; } 
	
	/* Event inside the day */
	div.calendar_event { margin-top: 15px; background-color: #ddd;}
	div.calendar_event:hover { background-color: #efefef;}
	/* Highlight the event that has just been created */
	div.calendar_event.calendar_event_highlight { background-color: #FFA500; }
	div.calendar_event.calendar_event_highlight:hover { background-color: #FFFF00; }
		/* Event location */
		div.calendar_event_location { display: block; font-weight: bold; ; padding: 2px 0px 0px 3px; margin: 0 0px -7px 0px; cursor: pointer; }
			div.calendar_event_location img.calendar_event_location_point { display: inline; padding-top: 0px; }
			div.calendar_event_location span.calendar_event_location_icao { display: inline; font-size: 15px; color: #A52A2A; font-weight: bold; padding-left: 10px; }
			div.calendar_event_location span.calendar_event_location_name { color: #C76161; font-size: 12px; }
		/* Event time */
		div.calendar_event_time { display: inline-block; margin: 0 0px 0 0px; padding: 0px 0px 5px 3px; color: #FF2B2B; font-size: 12px; }
                /* Event ATC name */
                div.calendar_event_atcName { font-size: 10px; font-weight: normal; color: #C76161; width: 92px; margin: 3px 0; }
			/* Histogram */
			div.calendar_histogram_background { display: block; position: relative; width: 96px; height: 7px; background-color: #F9F9F9; top: 10px; margin: 0px 0 2px 0px; border: solid 1px #E3E3E3; z-index: 60; }
				div.calendar_histogram_background div.calendar_histogram { background-color: #EE8383; position: relative; height: 7px; z-index: 70; }
				div.calendar_histogram_background div.calendar_histogram_infos { display: none; position: absolute; left: 0px; top: 7px; font-size: 0.8em; background-color: #ff6666; z-index:80; color: white; padding: 15px 10px 3px 10px; }
		/* Event additional infos */
		div.calendar_event_infos { display: none; position: absolute; margin: 0px 0px 0px 0px; padding: 0px 20px 10px 20px; background-color: #3C71B2; color: white; width: 300px; z-index: 80; }
		div.calendar_event_infos a { color: #d0d0d0; }
		div.calendar_event_infos em.calendar_blue_arrow { display: block; position: relative; width: 9px; height: 4px; top: -4px; margin-left: 10px; background: white url('../img/fleche_bleue_haut.png') repeat top left; }
			/* Additional info -> Category of information */
			div.calendar_event_infos span.calendar_event_information_type { display: block; font-weight: bold; padding: 2% 0 0 0; }

		/* Flightplans in event */
		/* -> Text with airport from/to */
		div.calendar_event_flightplan { margin: 0px 0px 0px 0px; padding: 5px 5px 0 5px; font-size: 0.8em; color: #666; }
			div.calendar_event_flightplan img.calendar_airportChoice { margin: 0; padding: 0; cursor: pointer; }
		/* -> Summary */
		div.calendar_event_flightplan_summary { padding: 0px 5px 0px 5px; margin: 5px 0px 2px 0px; color: #3C71B2; font-size: 0.8em; font-weight: bold; }
			div.calendar_event_flightplan_summary img { margin-right: 10px; }
		/* -> Pop-up */
		div.calendar_event_flightplan_infos { padding: 20px 20px 5px 20px; display: none; background-color: #3C71B2; position: relative; top: 0px; left: 0; color: #fff; width: 300px; z-index: 90;}
			div.calendar_event_flightplan_infos em.calendar_blue_arrow { display: block; position: relative; width: 9px; height: 4px; top: -24px; margin-left: 10px; background: white url('../img/fleche_bleue_haut.png') repeat top left; }
			div.calendar_event_flightplan_infos span.calendar_event_flightplan_infos_category { display: inline-block; color: #ccc; min-width: 100px; padding-right: 20px; text-align: right; }
			div.calendar_event_flightplan_infos span.calendar_event_flightplan_infos_value { color: #fff; font-size: 0.9em; font-weight: bold; }
			a.calendar_event_flightplan_add_comment { color: #ccc; font-size: 0.9em; padding-left: 10px;	}
			span.calendar_event_flightplan_callsign { cursor: pointer; }
			
	

/* Event creation */
form.form_new_event { padding: 0 2%;}
	form.form_new_event input { background-color: #efefef; padding: 10px; }
	form.form_new_event h2 { background-color: #e0e0e0; margin: 0; padding: 1%; padding-left: 2%; margin: 3% 0 1% 0; border: 0; color: #333;}
	form.form_new_event span.input_example { margin-right: 4%; }
	form.form_new_event span.airport_selection_button { display: inline-block; background-color: #eee; color: #333; border: solid 1px #ccc; padding: 0.5%; margin: 0.5% 0.5% 0.5% 0; cursor: pointer; }
	form.form_new_event span.airport_selection_button:hover { background-color: #333; color: #ccc; cursor: pointer; }
span.new_event_entry_field { color: #666; font-weight: bold; }
	/* Showcase part */
	input.toogle_showcase_btn { border: 0; color: #666; background-color: #6666ee !important; font-weight: bold; color: #fff;}
	#showcaseToggleContent { overflow: hidden; height: 410px; }
	#showcasePreview { width: 340px; height: 540px;	position: relative; float: right;top: 67px;	}

/* Test chronology */
div.histogram_background { display: block; position: relative; width: 240px; height: 7px; background-color: #F9F9F9; top: 10px; margin: 0px 0 15px 0px;	border: solid 1px #E3E3E3; z-index: 90; }
	div.histogram_background div.histogram { background-color: #EE8383; position: relative;	height: 7px; }

div.specialEvent { width: 90%; margin: auto; padding: 5px; background-color: #e0f0e0; color: #666; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
    div.specialEvent img.specialEventImg { float: left; position: relative; margin-left: 20px; top: -5px; }
    div.specialEvent div.specialEventContent { margin-left: 110px;}
        div.specialEvent div.specialEventContent h1 { color: #aaa; font-size: 1.0em; text-transform: uppercase; }
        div.specialEvent div.specialEventContent h4 { margin: 15px 0; }
        div.specialEvent form { margin: 10px 0; }
        div.specialEvent label { font-size: 0.9em; color: #333; background-color: #4c4; padding: 7px 15px; margin-right: 5px; vertical-align: middle; color: #fff; font-weight: bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
        div.specialEvent input.specialEventButton { position: relative; top: 2px; background: #fff; margin: 0 7px 0 0;}
        div.specialEvent label.buttonNo { background: #666; }
        div.specialEvent input.participationCallsign { display: none; color: #3C71B2; border: solid 2px; background-color: #fff; background: #fff url('../img/scheme_pilot.png') no-repeat 3px 6px; margin: 20px 0 10px 0; padding: 7px 7px 7px 30px; font-size: 1.3em; font-weight: bold; }
        div.specialEvent form input.buttonValidate { background-color: #3C71B2; font-weight: bold; padding: 5px; margin: 0; font-weight: bold; color: #fff; padding: 7px 30px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
        div.specialEventDate { float: left; width: 100px; }
        div.specialEventAirport { float: left; width: 75px; }
        div.specialEventTime { float: left; }
        
div.specialEvent.mini { padding: 5px 7px; background-color: #e0e0e0; }
    div.specialEvent.mini div.specialEventContent { margin-left: 0; }
        div.specialEvent.mini div.specialEventContent img { margin-right: 10px; }
        div.specialEvent.mini h4 { min-width: 350px; color: #333; margin: 0 0 10px 0; }