/* 
    Document   : general
    Created on : Mar 31, 2013, 12:11:04 AM
    Author     : thibault
    Description:
        Purpose of the stylesheet follows.
*/

html,body {
    padding: 0;
    margin: 0;
    font-family: "Liberation Sans", FreeSans, Helvetica, "Helvetica Neue", Verdana, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 140%;
    background-color: #666;
}

div#body_container {
	width: 900px;
	background-color: #fff;
	margin: 0 auto 0 auto;
	box-shadow: 0px 0px 15px -7px #000;
}

a {
    color: #3C71B2;
    text-decoration: none;
}

h2 {
    background-color: #89A02C;
    color: #fff;
    padding: 1% 0 1% 20px;
}

h5 {
    margin-bottom: 0.5%;
}

input, textarea {
    border: solid 1px #a0c0ff;
    padding: 2px;
    font-family: "Liberation Sans", FreeSans, Helvetica, "Helvetica Neue", Verdana, Tahoma, sans-serif;
    margin: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type="submit"], input[type="button"] {
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="text"]:focus, textarea:focus {
	box-shadow: 0px 0px 3px #6091DA;
	-moz-box-shadow: 0px 0px 3px #6091DA;
	-webkit-box-shadow: 0px 0px 3px #6091DA;
}

span.input_example {
    color: #999;
    font-size: 0.9em;
    font-family: Georgia,'Times New Roman',times,serif;
}

#menu {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
}

#menu div.menu_entry {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    display: inline-block;
    padding: 3px 1% 3px 1%;
    margin: 6px 2px 6px 2px;
    color: #E28D8D;
    border: solid 1px #C6C6C6;
}

#menu div.menu_entry:hover {
    background-color: #D05454;
    border: solid 1px #fff;
}

#menu div.menu_entry a {
	color: #CE6363;
    font-weight: bold;
    font-size: 11px;
    font-style: normal;
    text-decoration: none;
    display: inline;
    text-transform: uppercase;
}

#menu div.menu_entry:hover a {
	color: #fff;
} 

a.button_new_session {
	display: block;
    margin: 0px 0 0px 30px;
    padding: 2px 7px 0px 7px;
    font-size: 0.9em;
    color: #aaa;
}

form.daySelection {
    margin: 2% 0 2% 6%;
    padding: 0.5% 1% 0.5% 1%;
}

#footer {
    width: 860px;
    background-color: #eaeaea;
    border-top: solid 1px #ccc;
    margin-top: 5%;
    padding: 15px 20px 10% 20px;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 12px;
    color: #666;
}

/* NEW */
.new {
    background-color: #F0F0FF;
    padding: 0.5% 0% 0.5% 4%;
    font-size: 0.8em;
    color: #666;
    border-left: solid 1px #C0C0ee;
    margin: 0 0 5% 0%;
}

.warning {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
    background-color: #6666ee;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    padding: 1%;
    width: 100%;
    z-index: 100;
}
	.warning a { color: #ccccff; }

.information {
	display: block;
    background-color: #6666ee;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    padding: 1%;
    width: 600px;
    margin: 1% auto 1% auto;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
	.information a { color: #ccccff; }
	.information div.close_button { float: right; background-color: #fff; color: #6666ee; padding: 2px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; }
	.information div.close_button:hover { background-color: #6666ee; color: #fff; }
