/*
    Document   : general
    Created on : Mar 31, 2013, 12:11:04 AM
    Author     : thibault
    Description:
        Purpose of the stylesheet follows.
*/

html,body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, "Helvetica Neue", "Liberation Sans", FreeSans, Verdana, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 140%;
    background-color: #ccc;
}

div#body_container {
	width: 900px;
	background-color: #fff;
	margin: 0 auto 0 auto;
        padding-top: 40px;
}

img#abstract { position: relative; top: -40px; }

p.normal_content { margin: 2% 4%; }

a {
    color: #3C71B2;
    text-decoration: none;
}

.map {
    height: 220px;
    margin-top: -40px;
}

h1 {
    font-family: Arvo, Arial, sans-serif;
    font-weight: bold;
}

.jumbotron {
    /* margin-bottom: 0px!important; */
}
.container .jumbotron {
    border-bottom-left-radius: 0px!important;
    -moz-border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    -moz-border-bottom-right-radius: 0px!important;
}

.boutons_map {
    margin-top: 0.5%;
    margin-bottom: 1%;
}
a.bouton-map {
    margin-right: 5px;
}
/*
input, textarea {
    border: solid 1px #a0c0ff;
    padding: 2px;
    font-family: "Liberation Sans", FreeSans, Helvetica, "Helvetica Neue", Verdana, Tahoma, sans-serif;
    margin: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type="submit"], input[type="button"] {
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="text"]:focus, textarea:focus {
	box-shadow: 0px 0px 3px #6091DA;
	-moz-box-shadow: 0px 0px 3px #6091DA;
	-webkit-box-shadow: 0px 0px 3px #6091DA;
}
*/
span.input_example {
    color: #999;
    font-size: 0.9em;
    font-family: Georgia,'Times New Roman',times,serif;
}



.submenu {
    clear: both;
    margin-top: -40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 860px;
    text-align: left;
}

.submenu div.menu_entry {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    display: inline-block;
    padding: 2px 0.5% 2px 0.5%;
    margin: 3px 0px 3px 0px;
}

.submenu div.menu_entry:hover { }

.submenu div.menu_entry a { color: #777; font-style: normal; text-decoration: none; }

.submenu div.menu_entry:hover a { color: #71c837; }

a.button_new_session {
	display: block;
    margin: 0px 0 0px 30px;
    padding: 2px 7px 0px 7px;
    font-size: 0.9em;
    color: #aaa;
}

form.daySelection {
    margin: 2% 0 2% 6%;
    padding: 0.5% 1% 0.5% 1%;
}

#footer {
    width: 860px;
    border-top: solid 1px #ccc;
    margin-top: 5%;
    padding: 15px 20px 10% 20px;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 12px;
    color: #666;
}

/* NEW */
.new {
    background-color: #ddddff;
    padding: 1% 0% 1% 4%;
    font-size: 0.8em;
    color: #666;
    margin: 0 1% 5% 1%;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.warning {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
    background-color: #ee3333;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    padding: 1%;
    width: 100%;
    z-index: 100;
}
	.warning a { color: #ccccff; }

.information {
	display: block;
    background-color: #6666ee;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    width: 600px;
    margin: 0% auto 2% auto;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
	.information a { color: #ccccff; }
	.information div.close_button { float: right; background-color: #fff; color: #6666ee; padding: 2px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; }
	.information div.close_button:hover { background-color: #6666ee; color: #fff; }
