
p.normal_content { color: #666; }

div.tutorial_list { margin: 2% 30px; }
    div.tutorial_item { font-weight: bold; color: white; width: 250px; height: 160px; vertical-align: top; margin: 0 5px; padding: 1% 10px; display: inline-block; background-color: #000; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

div.flightplanSuggestionList { margin-left: 4%; padding: 0%; }
    div.flightplanSuggestion { background-color: #eee; }
    div.flightplanSuggestion div.flightplanSuggestionContent { }
        div.flightplanSuggestionContent span.flightplanSuggestionTitle { display: block; font-weight: bold; font-size: 1.2em; padding: 10px 0; margin: 0px 0 0px 0; color: #333; }
        div.flightplanSuggestionContent div.flightplanSuggestionDescription { display: block; color: #666; line-height: 150%;}
        div.flightplanSuggestionContent div.flightplanSuggestionDocs { font-weight: bold; margin-bottom: 20px; }
            div.flightplanSuggestionDocs img { margin-right: 15px; margin-bottom: 10px; position: relative; top: 15px; }
    form.flightplanSuggestionForm { float: right; width: 50%; color: #3c71b2; border: solid 1px #3c71b2; padding: 10px; }
        form.flightplanSuggestionForm h4 { margin: -10px -10px 10px -10px; background-color: #3c71b2; color: #fff; padding: 10px;}
            form.flightplanSuggestionForm h4 a { color: #ccc; }
        form.flightplanSuggestionForm table { width: 100%;}
        form.flightplanSuggestionForm input { padding: 5px; margin: 5px 0; color: #666; }
        form.flightplanSuggestionForm input.flightplanSuggestionSubmit { padding: 10px; background-color: #3c71b2; color: #fff; font-weight: bold;}
