
/* Test calendar disposition */
div.calendar { background-color: #eee; }
/* Header with month and days in week */
div.calendar_header { margin: 10px 0 0px 0px; width: 900px; padding: 5px 0px 0px 0px; background-color: #ddd; }
	div.calendar_month { width: 852px; margin: 2px 0 0px 0; color: #333; font-weight: bold; text-align: center; text-transform: uppercase; }
	span.calendar_dayInWeek { display: inline-block; width: 104px; margin: 0px 9px 0px 9px; color: #999; font-size: 0.8em; text-align: center; font-weight: bold;}

/* Display a day */
div.calendar_day_empty { position: relative; top: 0; display: inline-block; width: 104px; padding: 2px; margin: 10px 7px 10px 7px; background-color: #eee; }
div.calendar_day { position: relative; top: 0; display: inline-block; width: 104px; padding: 2px; margin: 10px 7px 10px 7px; background-color: #ccc; border-bottom: solid 2px #aaa; border-radius: 3px; -moz-border-radius: 3px;}
	span.calendar_dayNumber { display: inline-block; font-size: 0.9em; width: 30px; font-weight: bold; color: #000; padding: 2px 0 2px 10px; }
	
	/* Button new session inside the day */
	a.calendar_button_new_session { display: inline; font-size: 0.9em; color: #FF6060; font-weight: bold; padding: 2px 5px 2px 5px; -moz-border-radius: 2px; border-radius: 2px; } 
	a.calendar_button_new_session:hover { background-color: #ff4444; color: #fff; } 
	
	/* Event inside the day */
	div.calendar_event { margin-top: 15px; background-color: #ddd;}
	div.calendar_event:hover { background-color: #efefef;}
	/* Highlight the event that has just been created */
	div.calendar_event.calendar_event_highlight { background-color: #FFA500; }
	div.calendar_event.calendar_event_highlight:hover { background-color: #FFFF00; }
		/* Event location */
		div.calendar_event_location { display: block; font-weight: bold; ; padding: 2px 0px 0px 3px; margin: 0 0px -7px 0px; cursor: pointer; }
			div.calendar_event_location img.calendar_event_location_point { display: inline; padding-top: 0px; }
			div.calendar_event_location span.calendar_event_location_icao { display: inline; font-size: 15px; color: #A52A2A; font-weight: bold; padding-left: 10px; }
			div.calendar_event_location span.calendar_event_location_name { color: #C76161; font-size: 12px; }
		/* Event time */
		div.calendar_event_time { display: inline-block; margin: 0 0px 0 0px; padding: 0px 0px 5px 3px; color: #FF2B2B; font-size: 12px; }
			/* Histogram */
			div.calendar_histogram_background { display: block; position: relative; width: 96px; height: 7px; background-color: #F9F9F9; top: 10px; margin: 0px 0 2px 0px; border: solid 1px #E3E3E3; z-index: 60; }
				div.calendar_histogram_background div.calendar_histogram { background-color: #EE8383; position: relative; height: 7px; z-index: 70; }
				div.calendar_histogram_background div.calendar_histogram_infos { display: none; position: absolute; left: 0px; top: 7px; font-size: 0.8em; background-color: #ff6666; z-index:80; color: white; padding: 15px 10px 3px 10px; }
		/* Event additional infos */
		div.calendar_event_infos { display: none; position: absolute; margin: 0px 0px 0px 0px; padding: 0px 20px 10px 20px; background-color: #3C71B2; color: white; width: 300px; z-index: 80; }
		div.calendar_event_infos a { color: #d0d0d0; }
		div.calendar_event_infos em.calendar_blue_arrow { display: block; position: relative; width: 9px; height: 4px; top: -4px; margin-left: 10px; background: white url('../img/fleche_bleue_haut.png') repeat top left; }
			/* Additional info -> Category of information */
			div.calendar_event_infos span.calendar_event_information_type { display: block; font-weight: bold; padding: 2% 0 0 0; }

		/* Flightplans in event */
		/* -> Text with airport from/to */
		div.calendar_event_flightplan { margin: 0px 0px 0px 0px; padding: 5px 5px 0 5px; font-size: 0.8em; color: #666; }
			div.calendar_event_flightplan img.calendar_airportChoice { margin: 0; padding: 0; cursor: pointer; }
		/* -> Summary */
		div.calendar_event_flightplan_summary { padding: 0px 5px 0px 5px; margin: 5px 0px 2px 0px; color: #3C71B2; font-size: 0.8em; font-weight: bold; }
			div.calendar_event_flightplan_summary img { margin-right: 10px; }
		/* -> Pop-up */
		div.calendar_event_flightplan_infos { padding: 20px 20px 5px 20px; display: none; background-color: #3C71B2; position: relative; top: 0px; left: 0; color: #fff; width: 300px; z-index: 90;}
			div.calendar_event_flightplan_infos em.calendar_blue_arrow { display: block; position: relative; width: 9px; height: 4px; top: -24px; margin-left: 10px; background: white url('../img/fleche_bleue_haut.png') repeat top left; }
			div.calendar_event_flightplan_infos span.calendar_event_flightplan_infos_category { display: inline-block; color: #ccc; min-width: 100px; padding-right: 20px; text-align: right; }
			div.calendar_event_flightplan_infos span.calendar_event_flightplan_infos_value { color: #fff; font-size: 0.9em; font-weight: bold; }
			a.calendar_event_flightplan_add_comment { color: #ccc; font-size: 0.9em; padding-left: 10px;	}
			span.calendar_event_flightplan_callsign { cursor: pointer; }
			
	

/* Event creation */
form.form_new_event { padding: 0 2%;}
	form.form_new_event input { background-color: #efefef; padding: 10px; }
	form.form_new_event h2 { background-color: #e0e0e0; margin: 0; padding: 1%; padding-left: 2%; margin: 3% 0 1% 0; border: 0; color: #333;}
	form.form_new_event span.input_example { margin-right: 4%; }
	form.form_new_event span.airport_selection_button { display: inline-block; background-color: #eee; color: #333; border: solid 1px #ccc; padding: 0.5%; margin: 0.5% 0.5% 0.5% 0; cursor: pointer; }
	form.form_new_event span.airport_selection_button:hover { background-color: #333; color: #ccc; cursor: pointer; }
span.new_event_entry_field { color: #666; font-weight: bold; }
	/* Showcase part */
	input.toogle_showcase_btn { border: 0; color: #666; background-color: #6666ee !important; font-weight: bold; color: #fff;}
	#showcaseToggleContent { overflow: hidden; height: 410px; }
	#showcasePreview { width: 340px; height: 540px;	position: relative;	float: right;top: 67px;	}

/* Test chronology */
div.histogram_background { display: block; position: relative; width: 240px; height: 7px; background-color: #F9F9F9; top: 10px; margin: 0px 0 15px 0px;	border: solid 1px #E3E3E3; z-index: 90; }
	div.histogram_background div.histogram { background-color: #EE8383; position: relative;	height: 7px; }

/* Flightplan filling v1 */
div.file_flightplan { display: none; margin: 20px 10px 50px 30px; padding: 0px 20px 10px 20px; background-color: #3C71B2; color: white; width: 350px; }
	div.file_flightplan a { color: #d0d0d0; }
	div.file_flightplan em.blue_arrow { display: block; position: relative; width: 9px; height: 4px; top: -4px; margin-left: 10px; background: white url('../img/fleche_bleue_haut.png') repeat top left; }
		div.file_flightplan span.event_information_type { display: block; font-weight: bold; padding: 2% 0 0 0; }

span.airportChoice { padding: 2px 4px 2px 4px; margin: 0 0% 0 1%; background-color: #3C71B2; color: #fff; font-size: 0.8em; font-weight: bold; text-transform: uppercase; cursor: pointer; }

form.edit_event label { display: block; padding: 5px; background-color: #efefef; margin: 5px; font-weight: bold; width: 300px; }

/* Flightplan filling original
div.file_flightplan2 { display: block; position: absolute; top: 540px; right: 10px; height: 100%; width: 12%; padding: 3% 2% 2% 2%; background-color: #f5f5f5; color: #666; }
div.file_flightplan2 input, div.file_flightplan2 select { font-size: 16px; color: #666; padding: 5px 5px 5px 35px; background-color: #f6f6f6; border: solid 2px #e0e0e0; margin: 1%; }
*/

/* Flightplan filling original */
form.file_flightplan2 { display: block; width: 90%; margin: auto; padding: 0% 1% 1% 1%; color: #666; }
	form.file_flightplan2 h3 span { font-size: 12px; padding-left: 2%; font-weight: normal; color: #3C71B2; cursor: pointer; text-transform: uppercase; }
	form.file_flightplan2 span.new_flightplan_entry { display: inline-block; width: 150px; font-weight: bold; color: #999; }
	form.file_flightplan2 input, form.file_flightplan2 select { font-size: 16px; color: #666; padding: 5px 5px 5px 35px; background-color: #f6f6f6; border: solid 2px #e0e0e0; margin: 1%; }
	form.file_flightplan2 span.flightplan_filling_day_button { background-color: #999; color: #fff; padding: 0.5%; border: solid 2px #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
		form.file_flightplan2 span.flightplan_filling_day_button:hover { background-color: #333; cursor: pointer; }
	form.file_flightplan2 input.flightplan2-submit { background-color: #3c71b2; padding: 10px; color: #fff; border: solid 2px #ccc; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-weight: bold; }
		form.file_flightplan2 input.flightplan2-submit:hover { background-color: #B0C7E3; color: #3c71b2; }
	form.file_flightplan2 div.file_flightplan2-formError { display: none; color: #cc6666; padding: 1% 0; font-weight: bold; font-size: 1.1em;}


/* Next ATC sessions */
div#nextATCSessions { }
	div#nextATCSessions div.nextATCSessionsDay { font-size: 0.8em; margin: 1% 0 0% 0; min-width: 60px; color: #999;}
	div#nextATCSessions span.nextATCSessionsSession { position: relative; top: 0; left: 0; background-color: #B7BABE; padding: 0.5% 1%; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; font-weight: bold; font-size: 0.8em; margin: 1% 1% 1% 0%; cursor: pointer; }
		div#nextATCSessions span.nextATCSessionsSession:hover { background-color: #3C71B2; }
		div#nextATCSessions span.nextATCSessionsSession div.nextATCSessionsSessionTooltip { display: none; position: absolute; width: 200px; padding: 1%; top: 25px; left: 0; color: #3C71B2; background-color: #333; z-index: 99;}
			div.nextATCSessionsSessionTooltip span.tooltipInformation { color: #999; font-weight: normal; display: block; margin: 2% 0 0% 0; }
			div.nextATCSessionsSessionTooltip span.tooltipValue { color: #fff; font-weight: bold; display: block; margin: 0; }
			div.nextATCSessionsSessionTooltip a { margin: 5%; }
div.fileFPv3 { margin: 4% 0 1% 0; padding: 1%; background-color: #fff; }
	div.fileFPv3 span.nextATCSessionsAction { display: inline; margin: 1%; padding: 0; cursor: pointer; }

/* List of flightplans at the end of index.php */
div.flightplans_list {}
	div.flightplans_list_flightplan { background-color: #3C71B2; padding: 1%; margin: 0.5%;	}
		span.flightplans_list_flightplanCallsign { display: block; color: white; font-size: 1.2em; font-weight: bold; margin-bottom: 1%; }
		span.flightplans_list_flightplanDate { display: block; color: #80b0e0; font-size: 1.1em; font-weight: bold;	margin-bottom: 1%; }
		span.flightplans_list_flightplanDeparture_airport {	display: inline-block; width: 70px; color: #e0e0e0;	font-weight: bold; }
		span.flightplans_list_flightplanArrival_airport { display: inline-block; width: 70px; color: #e0e0e0; font-weight: bold; }
		span.flightplans_list_flightplanDeparture_time { display: inline-block;	width: 70px; color: #e0e0e0; }
		span.flightplans_list_flightplanArrival_time { display: inline-block; width: 70px; color: #e0e0e0; }
		span.flightplans_list_flightplanInfo { display: block; color: #d0d0d0; margin-top: 10px; font-weight: bold; }
