
/* Event creation */
form.form_new_event { padding: 0 2%;}
	form.form_new_event input { background-color: #efefef; padding: 10px; }
	form.form_new_event h2 { background-color: #e0e0e0; margin: 0; padding: 1%; padding-left: 2%; margin: 3% 0 1% 0; border: 0; color: #333;}
	form.form_new_event span.input_example { margin-right: 4%; }
	form.form_new_event span.airport_selection_button { display: inline-block; background-color: #eee; color: #333; border: solid 1px #ccc; padding: 0.5%; margin: 0.5% 0.5% 0.5% 0; cursor: pointer; }
	form.form_new_event span.airport_selection_button:hover { background-color: #333; color: #ccc; cursor: pointer; }
span.new_event_entry_field { color: #666; font-weight: bold; }
	/* Showcase part */
	input.toogle_showcase_btn { border: 0; color: #666; background-color: #6666ee !important; font-weight: bold; color: #fff;}
	#showcaseToggleContent { overflow: hidden; height: 410px; }
	#showcasePreview { width: 340px; height: 540px;	position: relative;	float: right;top: 67px;	}

/* Flightplan filling original */
form.file_flightplan2 { display: block; width: 90%; margin: auto; margin-bottom: 10%; padding: 0% 1% 1% 1%; color: #666; clear: both; }
	form.file_flightplan2 h3 span { font-size: 12px; padding-left: 2%; font-weight: normal; color: #3C71B2; cursor: pointer; text-transform: uppercase; }
	form.file_flightplan2 span.new_flightplan_entry { display: inline-block; width: 150px; font-weight: bold; color: #999; }
	form.file_flightplan2 input, form.file_flightplan2 select { font-size: 16px; color: #666; padding: 5px 5px 5px 35px; background-color: #f6f6f6; border: solid 2px #e0e0e0; margin: 1%; }
	form.file_flightplan2 span.flightplan_filling_day_button { background-color: #999; color: #fff; padding: 0.5%; border: solid 2px #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
		form.file_flightplan2 span.flightplan_filling_day_button:hover { background-color: #333; cursor: pointer; }
	form.file_flightplan2 input.flightplan2-submit { background-color: #3c71b2; padding: 10px; color: #fff; border: solid 2px #ccc; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-weight: bold; }
		form.file_flightplan2 input.correct { background-color: #71c837 !important; color: #fff; }
		form.file_flightplan2 input.flightplan2-submit:hover { background-color: #B0C7E3; color: #3c71b2; }
	form.file_flightplan2 div.file_flightplan2-formError { display: none; color: #cc6666; padding: 1% 0; font-weight: bold; font-size: 1.1em;}

/* Sortable Flightplan filling V3 */
div.flightplanSortable { margin: 1% 1% 1% 0; padding: 0% 0% 0% 0%; border: dashed 2px #ccc; font-weight: bold; font-size: 1.2em; list-style-type: none; float: left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #e0e0e0; color: #999; text-align: center; }
	div.flightplanSortable:hover { background-color: #D0E2C3; }
	div.flightplanSortable.static { border: solid 2px #71c837; }
		div.flightplanSortable.static input { color: #71c837; }
			div.flightplanSortable.static input:focus { background-color: #71c837; color: #fff; border: 0; -moz-box-shadow: 0; box-shadow: 0; outline: 0; }
	div.flightplanSortable.no-border { border: 0; background-color: transparent; }
		div.flightplanSortable.no-border img { margin-left: 5px; margin-right: 5px; }
	div.flightplanSortable input { background-color: transparent; border: 0; margin: 0; padding: 10px; font-weight: bold; font-size: 0.9em; color: #999; text-align: center; cursor: pointer; }
		div.flightplanSortable input:focus { background-color: #999; border: 0; color: #333; text-align: center; }
	div.flightplanSelected { color: #fff; box-shadow: 0px 0px 10px 0px #347734; -moz-box-shadow: 0px 0px 10px 0px #347734; -webkit-box-shadow: 0px 0px 10px 0px #347734; border: solid 2px #fff; }
		div.flightplanSelected input { color: #fff; }

div.fileFPv3 { margin: 4% 0 1% 0; padding: 1%; background-color: #fff; clear: both; }
	div.fileFPv3 span.nextATCSessionsAction { display: inline; margin: 1%; padding: 0; cursor: pointer; }

/* List of flightplans at the end of index.php */
div.flightplans_list {}
	div.flightplans_list_flightplan { background-color: #3C71B2; padding: 1%; margin: 0.5%;	}
		span.flightplans_list_flightplanCallsign { display: block; color: white; font-size: 1.2em; font-weight: bold; margin-bottom: 1%; }
		span.flightplans_list_flightplanDate { display: block; color: #80b0e0; font-size: 1.1em; font-weight: bold;	margin-bottom: 1%; }
		span.flightplans_list_flightplanDeparture_airport {	display: inline-block; width: 70px; color: #e0e0e0;	font-weight: bold; }
		span.flightplans_list_flightplanArrival_airport { display: inline-block; width: 70px; color: #e0e0e0; font-weight: bold; }
		span.flightplans_list_flightplanDeparture_time { display: inline-block;	width: 70px; color: #e0e0e0; }
		span.flightplans_list_flightplanArrival_time { display: inline-block; width: 70px; color: #e0e0e0; }
		span.flightplans_list_flightplanInfo { display: block; color: #d0d0d0; margin-top: 10px; font-weight: bold; }

div#map { float: left; }

div#palmares { float: left; width: 230px; padding: 1% 0 0 30px; }
	div#palmares ol { padding: 0; line-height: 170%; list-style-type: none; color: #999; }
		div#palmares ol span.palmaresPilot { font-weight: bold; }

/* V5 -> ATC events in a table */
table.nextATCEvents { }
	table.nextATCEvents tr { }
	table.nextATCEvents tr.rule { font-size: 3px; padding: 0; margin: 0; height: 3px; line-height: 10%; }
	table.nextATCEvents tr.rule td { background-color: #fff; font-size: 3px; border-left: solid 1px #ccc; height: 3px; }
	table.nextATCEvents td { width: 5px; font-size: 12px; text-align: left;}
	table.nextATCEvents td.td_empty { background-color: #e0e0e0; }
